[run]
include = graditude/*
omit =
    *apps.py,
    *urls.py,
    *manage.py,
    *wsgi.py*,
    *migrations/*,
    */venv/*,
    *docs/*
    *tests/*,

    *settings*,
    *merge_production_dotenvs_in_dotenv.py*,


[html]
directory = htmlcov
